/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 5rem;
  text-align: center;
}

.logo-img {
  max-width: 40px;
  max-height: 40px;
}

.day-mode {
  background-color: #ffffff;
  color: #000000;
}

.night-mode {
  background-color: #121212;
  color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: inherit;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.header-left, .header-center, .header-right {
  display: flex;
  align-items: center;
}

.header-left .logo-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.header-left .title {
  font-size: 1.5rem;
  font-weight: bold;
}

.header-center .depth {
  font-size: 1.5rem;
}

.header-right .btn {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .mobile-header .header-right .btn-secondary,
  .mobile-header .header-right .btn-secondary + .btn {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile-header {
    display: none;
  }
  
  .desktop-header {
    display: flex;
  }
}

.mt-5 {
  margin-top: 3rem !important;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center !important;
}

.w-100 {
  width: 100% !important;
}

.w-75 {
  width: 75% !important;
}
